/*Use #64ffda to color any links and h6*/
/*Use ##51ceb0 for any h1 and h4*/
/*Use list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png); for any lis*/

body {
  background-color: #0a192f !important;
  color: #8892b0 !important;
  font-family: Calibre, Inter, "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif !important;
  margin: 2% !important;

  position: relative;
}
p {
  font-size: 18px;
}
.divider {
  margin-top: 15px !important;
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/*NAV SECTIONS*/
header,
.number {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  padding-right: 3px;
}
.number {
  color: #51ceb0 !important;
}
.navbar-brand {
  color: #51ceb0 !important;
  border: 1px solid #51ceb0;
  border-radius: 50%;
  padding-left: 7px;
}
.navbar-brand:hover {
  color: #64ffda !important;
  border: 1px solid #64ffda;
}
.nav-link,
button {
  color: #8892b0 !important;
}
.nav-link:hover {
  color: #51ceb0 !important;
}

.resume {
  border: #64ffda 1px solid !important;
  color: #64ffda !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(100, 255, 218)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81,206,176)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: #51ceb0 !important;
}
.custom-toggler.navbar-toggler:hover {
  border-color: #64ffda !important;
}
/*Intro Section*/
#home {
  margin-top: 20%;
  height: 75vh;
  padding: 5px;
}
.greeting {
  font-size: 16px;
  color: #64ffda !important;
}
.bigHeading {
  color: #ccd6f6 !important;
  font-size: 80px;
}
/*About Me Section*/

.biography h1 {
  margin-bottom: 30px;
}
.about-section {
  width: 100%;
  height: 100vh !important;
  margin-top: 0;
}
.about-me-pic {
  border-radius: 30px;
  float: right;
  height: 250px;
  width: 200px;
  margin-top: 0 !important;
}
.image-div {
  text-align: center;

  margin-bottom: 20px !important;
}
.about-me-paragraph {
  margin-left: 20px;
}

/*PROJECT CARDS*/
img {
  height: 150px;
  width: 125px;
}
.section-title {
  text-align: center;
  color: #ccd6f6 !important;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 5%;
}
/*TODO: background color of card-body may be changed at later date, card-text and card-title color may also change at later date*/
.card-body {
  background-color: #8892b0;
  display: flex;
  flex-direction: column;
  height: 250px;
}
.card-text,
.card-title {
  color: #ccd6f6;
}
.card a {
  width: 110px;
  font-size: 13px;
}
.button {
  text-align: center;
  position: absolute;
  top: 80%;
  width: 95%;
  left: 5px;
}
.button a {
  background-color: #64ffda;
  color: #8892b0;
  border: none;
}
.button a:hover {
  background-color: #51ceb0;
}

/*LANGUAGES*/
#languages {
  margin: 3% auto;
}
.languages {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 2% auto;
}
.languages img {
  height: 75px;
  width: 75px;
}
#languages p {
  font-size: 10px;
  text-align: center;
}
.expressJS {
  border-radius: 50%;
}
/*FOOTER SECTIONS*/
.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  list-style-type: none;
}
.footer-social-icons img:hover {
  border: 1px solid #51ceb0;
}
.footer-social-icons img {
  width: 35px;
  height: 35px;
}

/*EXPERIENCE SECTIONS*/
/* .tasks {
  font-size: 14px;
}

h4 {
  color: #51ceb0 !important;
}
h6 {
  color: #64ffda !important;
}
.divider {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.task-list {
  list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/treehouse-marker.png);
}
span.location {
  float: right;
  margin-right: 25px;
  color: #64ffda !important;
} */
