/*General responsiveness for mobile devices */
@media (max-width: 430px) {
  body {
    margin-left: 0 !important;
  }
  .image-div {
    width: 400px;
    margin: 0 auto;
  }

  .languages img {
    height: 40px;
    width: 40px;
    flex-wrap: wrap;
  }
}
/*General responsiveness for bigger screens */
@media (min-width: 1500px) {
  section {
    margin: 0px auto;
  }
}
/*ABOUT ME*/
@media (max-width: 768px) {
  .about-me-pic {
    float: none;
    margin-left: 50px;
    margin-right: auto;
    margin-top: 15px;
  }
  .image-div {
    width: 100%;

    height: 250px;
  }
}
@media (max-width: 675px) {
  .biography {
    margin-left: 0;
    width: 400px;
  }
  .about-me-paragraph {
    margin: auto;
    width: 300px;
    overflow-wrap: break-word;
  }
}
/*PROJECT*/
@media (max-width: 982px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
  }
}
/*FOOTER*/
@media (min-width: 768px) {
  .footer-social-icons {
    flex-direction: column;
    position: fixed;
    top: 25%;
    left: 0;
  }
}
