img {
  height: 150px;
  width: 125px;
}
body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(20, 20, 130, 1) 34%,
    rgba(11, 175, 200, 1) 100%
  );
}
#card-preview {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 25%;
}
.card-body {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.button {
  text-align: center;
  position: absolute;
  top: 85%;
  left: 8%;
}
@media (max-width: 982px) {
  #card-preview {
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
  }
}
